#####################################################################
# Dockerfile for ssh-bastion
#  SSH-Bastion is SSH front for ASRALL labs
#
#
# Mathieu GOULIN - 2019/07/25 - Initialisation du template
#####################################################################
FROM registry.kapable.info/debian-ansible

MAINTAINER "Mathieu GOULIN" <mathieu.goulin@gadz.org>

#####################################################################
# Install packages
RUN apt-get update && DEBIAN_FRONTEND=noninteractive apt-get -y install postgresql-client
RUN apt-get clean && rm -rf /var/lib/apt/lists/*
#####################################################################


#####################################################################
# Creation des users teachers et ajouts dans le groupe sudo
{% for teacher in teachers %}
RUN useradd {{ teacher.login }} \
        && passwd -d {{ teacher.login }} \
        && mkdir -p /home/{{ teacher.login }}/.ssh \
        && chown -R {{ teacher.login }}:{{ teacher.login }} /home/{{ teacher.login }} \
        && chsh -s /bin/bash {{ teacher.login }} 

RUN echo "{{ teacher.ssh_key }}" >> /home/{{ teacher.login }}/.ssh/authorized_keys
{% endfor %}
#####################################################################


#####################################################################
# Creation des users students 
{% for student in students %}
RUN useradd {{ student.login }} \
        && passwd -d {{ student.login }} \
        && mkdir -p /home/{{ student.login }}/.ssh \
        && chown -R {{ student.login }}:{{ student.login }} /home/{{ student.login }} \
        && chsh -s /bin/bash {{ student.login }}

RUN echo "{{ student.ssh_key }}" >> /home/{{ student.login }}/.ssh/authorized_keys
{% endfor %}
#####################################################################
